<div class="row">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h1>
               add living
            </h1>
            <p>
              add living component
            </p>
        </div>
    </div>
</div>
{{outlet}}