<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Livings</h2>
        <ol class="breadcrumb">
            <li>
              {{#link-to "users.dashboard"}}Dashboard{{/link-to}}
            </li>
            <li class="active">
              {{#link-to "users.livings.add-living"}}<strong>Livings</strong>{{/link-to}}
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


</div>

{{outlet}}