<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Edit Accomodation</h2>
        <ol class="breadcrumb">
            <li>
              {{#link-to "users.dashboard"}}Dashboard{{/link-to}}
            </li>
            <li>
              {{#link-to "users.accomodations"}}Accomodations{{/link-to}}
            </li>
            <li class="active">
              {{#link-to "users.accomodations.edit-accomodation"}}<strong>Edit</strong>{{/link-to}}
            </li>
        </ol>
    </div>
</div>

{{outlet}}
