<div class="row animated fadeInRight">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h1>
                Welcome in eHome
            </h1>
            <p>
                You haven't add accomdation yet, add at least one accomodation to start using application
            </p>
          {{#link-to "users.accomodations.new" class="btn btn-md btn-primary"}}Add Accomodation{{/link-to}}
        </div>
    </div>
</div>
{{outlet}}
