<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Accomodations</h2>
        <ol class="breadcrumb">
            <li>
              {{#link-to "customers.dashboard"}}Dashboard{{/link-to}}
            </li>
            <li class="active">
              {{#link-to "customers.accomodations"}}<strong>Accomodations</strong>{{/link-to}}
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-xs-12">
        <div class="row m-b-md">
            <div class="col-xs-12 text-right">
              {{#link-to "customers.accomodations.new" class="btn btn-primary "}}Add Accomodation{{/link-to}}
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
               <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>Accomodation Name</th>
                          <th>Accomodation Type</th>
                          <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>Accomodation</td>
                          <td>Type</td>
                          <td><a class="btn btn-success btn-xs">Edit</a></td>
                      </tr>
                    </tbody>
               </table>
            </div>
        </div>
    </div>
</div>

</div>

{{outlet}}