<div id="wrapper">
  {{app-navigation}}
    <div id="page-wrapper" class="gray-bg">
      {{top-navigation}}
        <div class="wrapper wrapper-content animated fadeInRight">
          {{outlet}}
        </div>
      {{app-footer}}
    </div>
</div>

