<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Controls</h2>
        <ol class="breadcrumb">
            <li>
              {{#link-to "customers.dashboard"}}Dashboard{{/link-to}}
            </li>
            <li>
              {{#link-to "customers.controls"}}Controls{{/link-to}}
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Provide your Control details and type</h5>
                </div>
                <div class="ibox-content">
                  {{customers.controls.control-crud-form model=model}}
                </div>
            </div>
        </div>
    </div>
</div>

{{outlet}}
